.inputFiled {
  &__input {
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    &-error {
      border-color: red;
    }
  }
  &__error {
    color: red;
    text-transform: capitalize;
    font-size: 8px;
    padding: 3px;
  }
}