.textArea {
  &__input {
    width: 100%;
    border:solid 1px #ebebeb;
    padding: 8px 10px;
    font-size: 10px;
    line-height: 15px;
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    &-error {
      border-color: red;
    }
  }
  &__error {
    color: red;
    font-size: 8px;
    padding: 3px;
  }
}